<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input 
            matInput 
            placeholder="Nombre"
            formControlName="firstName"
            id="firstName"
        >
    </mat-form-field>
    <mat-form-field>
        <input 
            matInput 
            placeholder="Apellido"
            formControlName="lastName"
            id="lastName"
        >
    </mat-form-field>
    <mat-form-field>
        <input 
            matInput 
            placeholder="Correo electronico"
            formControlName="email"
            id="email"
        >
    </mat-form-field>
    <mat-form-field>
        <input 
            type="password"
            matInput 
            placeholder="Contraseña"
            formControlName="password"
            id="password"
        >
    </mat-form-field>
    <button mat-raised-button color="accent">Registrarme</button>
    <p style="text-align: center">
        ¿Ya tienes un usuario?
        <a mat-button color="primary" [routerLink]="['/signin']" >Iniciar sesión</a>
    </p>
</form>